*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: blanchedalmond;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.card{
    padding: 18px;
    background: rgb(233, 111, 23);
    border-radius: 10px;
    max-width: 30rem;
    width: 100%;
    margin: 0 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.star{
    font-size:10vh;
    cursor: pointer;
}

.one{
    color: rgb(255, 0, 0);
}

.two {
    color: rgb(255, 106, 0);
  }
  
  .three {
    color: rgb(255, 255, 120);
  }
  
  .four {
    color: rgb(255, 255, 0);
  }
  
  .five {
    color: rgb(24, 159, 14);
  }